.faq{
    padding:80px 100px;
    background:#f9f9f9;
}

.faq-subtitle{
    text-align:center;
    font-size:1.8rem;
    margin-top:10px;
    margin-bottom:40px;
    color:#666;
}

.faq-container{
    max-width:900px;
    margin:auto;
}

.faq details{
    background:white;
    margin-bottom:18px;
    border-radius:10px;
    padding:18px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.faq summary{
    font-size:1.9rem;
    font-weight:600;
    cursor:pointer;
}

.faq details p{
    margin-top:15px;
    font-size:1.7rem;
    color:#555;
    line-height:1.8;
}

.question-form{
    padding:80px 100px;
}

.contact-form{
    max-width:800px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{

    width:100%;
    padding:18px;
    font-size:1.7rem;

    border:1px solid #ccc;
    border-radius:10px;

    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{

    border-color:#f5d300;

}

.contact-form button{

    width:220px;
    padding:18px;

    font-size:1.8rem;
    font-weight:bold;

    background:#f5d300;
    color:#fff;

    border:none;
    border-radius:10px;

    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{

    background:#d8bb00;

}

@media(max-width:768px){

.faq,
.question-form{

    padding:60px 20px;

}

.faq summary{

    font-size:1.6rem;

}

.contact-form button{

    width:100%;

}

.btn-whatsapp{
    width:100%;
    padding:18px;
    border:none;
    border-radius:10px;
    background:#25D366;
    color:#fff;
    font-size:1.8rem;
    font-weight:600;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    transition:0.3s;
}

.btn-whatsapp:hover{
    background:#1ebe5d;
}

.btn-whatsapp ion-icon{
    font-size:2.2rem;
}

.demo-text{
    margin-top:15px;
    text-align:center;
    color:#666;
    font-size:1.4rem;
    line-height:1.5;
}
}