<header class="header" data-aos="fade-down">

    <a href="index.html">
        <img
            class="logo"
            src="img/medzu_logo.png"
            alt="Medzu Logo">
    </a>

    <nav class="main-nav">

        <ul class="main-nav-list">

            <li>
                <a class="main-nav-link" href="index.html#how">
                    Como pedir
                </a>
            </li>

            <li>
                <a class="main-nav-link" href="Herramientas.html">
                    Herramientas
                </a>
            </li>

            <li>
                <a class="main-nav-link" href="Recomendaciones.html">
                    Recomendaciones
                </a>
            </li>

            <li>
                <a class="main-nav-link" href="Medzu.html">
                    MEDZU SAC
                </a>
            </li>

            <li id="zonaLogin">
                <button id="abrirLogin" class="login-menu">
                    Iniciar sesión
                </button>
            </li>

            <li>
                <a class="main-nav-link nav-cta" href="Herramientas.html">
                    Adquiere tus productos
                </a>
            </li>

        </ul>

    </nav>
<button class="btn-mobile-nav">

    <ion-icon class="icon-mobile-nav"
        name="menu-outline"></ion-icon>

    <ion-icon class="icon-mobile-nav"
        name="close-outline"></ion-icon>

</button>
</header>